wp-config.php
wp-config.php.bak*
db-backups/
wp-content/uploads/
*.sql
*.sql.gz
*.zip
node_modules/
vendor/
cache/
*.log
*.env
wp-content/cache/
wp-content/advanced-cache.php
wp-content/object-cache.php
wp-content/wflogs/
wp-content/aios_firewall/
wp-content/ai1wm-backups/
*.wpress
wp-content/debug.log

